.container {
  min-height: 32vh;
}

.listContainer {
  color: black;
  text-decoration: none;
  background-color: #eee;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.img {
  width: 70%;
  border-radius: 15px;
  aspect-ratio: 1/1;
}

.mapIcon {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.info {
  font-size: 1.15rem;
  margin-left: 0.5rem;
}

.badge {
  margin: 1rem 0.5rem 0.5rem 0;
}
