.container {
  margin-bottom: 8rem;
  border-radius: 15px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 3.5rem;
}

.mapContainer {
  background: linear-gradient(to bottom, #e0eafc, #c2f3e67e);
  text-align: left;
  border-radius: 10px;
}

.info {
  text-align: center;
  padding: 1rem 0 1.5rem;
  margin: 0;
}

.listing {
  border-right: 1px solid black;
  padding-right: 0.5rem;
}

.prices {
  padding-left: 0.5rem;
}

.number {
  color: #228be6;
}

.img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
